.ipynb_checkpoints
experiments/MHCurve/runs*
experiments/hysteresis/run_*
*.tar.gz
*.png
*.mp4
__pycache__/
experiments/hysteresis_metacentrum/runs/
UPPASDHEISDM2D.o*
UPPASDHEISDM2D.e*
experiment.out
pysd/run/*
**/run/*
**/no*/**/runjob.sh
old/experiments/MHCurve/runs*
netket/netket
